<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CSS Examples</title>
        <link rel="stylesheet" href="../static/login.css">
    </head>

    <body>
        <div class="header-box" id="id_header_div">
            <div class="centered" id="id_site_name">Blog Master</div>
            <div class="bottom" id="id_nav_profile">
                <a href="/login">{{user.first_name}} {{user.last_name}}</a>
            </div>
            <div class="bottom" id="id_nav_global_stream">
                <a href="/login">Global</a>
            </div>
            <div class="bottom" id="id_nav_follower_stream">
                <a href="/login">Followers</a>
            </div>
            <div class="bottom" id="id_nav_logout">
                <a href="/logout">Logout</a>
            </div>
        </div>
        <div>
            <p>Lets play some footy</p>
        </div>
    </body>
</html>